{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Chatting.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/global.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/landingPage.css') }}">
<title>Customer Chatting</title>
{% endblock %}

{% block body %}


<div class="chatting-page w-700p position-relative">
    <div class="chatting-title headers d-flex justify-content-between align-items-center">
        <div class="profile-details d-flex align-items-center w-15 justify-content-between">
            <div class="profile-icon d-grid"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="profile-name">Agent</div>
            <div class="profile-status"><div class="status status-online"></div></div>
        </div>
        <div class="close-chat">
            <button type="button" class="btn btn-secondary"><i class="fa fa-close" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="message-section messages d-flex flex-column mt-4">
        <div class="user-message"><div class="justify-content-end"><p>Hello World</p></div></div>
        <div class="message"><div class="justify-content-start"><p>From Server !</p></div></div>
    </div>
    <div class="text-area d-flex position-absolute bottom-0 p-3 w-100 justify-content-evenly">
        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button>
        <input type="text" class="form-control w-75" placeholder="Message">
        <button type="button" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
</div>

<script src="{{ url_for('static', filename='JS/chat.js') }}"></script>

{% endblock %}