{% extends "base.html" %}

{% block head %}
    <title>Home Page</title>
{% endblock %}
{% block body %}
    <h1>Bucket Images</h1>
    <p>IBM Cloud Images</p>
    <img src="https://cloud-object-storage-2b-cos-static-web-hosting-d26.s3.jp-tok.cloud-object-storage.appdomain.cloud/cat.jpg" alt="Cat Image">
    <p>CAT</p>
    <img src="https://cloud-object-storage-2b-cos-static-web-hosting-d26.s3.jp-tok.cloud-object-storage.appdomain.cloud/dove.jpg" alt="Dove Image">
    <p>DOVE</p>
    <img src="https://cloud-object-storage-2b-cos-static-web-hosting-d26.s3.jp-tok.cloud-object-storage.appdomain.cloud/iceland-gfeffe.jpg" alt="Iceland Image">
    <p>ARCTIC FOX</p>
    <img src="https://cloud-object-storage-2b-cos-static-web-hosting-d26.s3.jp-tok.cloud-object-storage.appdomain.cloud/leopard.jpg" alt="Leopard">
    <p>LEOPARD</p>
    <img src="https://cloud-object-storage-2b-cos-static-web-hosting-d26.s3.jp-tok.cloud-object-storage.appdomain.cloud/tigers.jpg" alt="Tiger">    
    <p>TIGER</p>
{% endblock %}