{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/global.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/landingPage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/custland.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/ticketHistory.css') }}">
<title>Customer Chatting</title>
{% endblock %}

{% block body %}

<div class="page-r d-flex">
  <div class="nav-tab left-tab scroll-y cust" style="background-color: transparent !important;">
    <div class="dashboard-icons left-icons d-flex justify-content-center tab-icon-active">
        <i class="fa fa-list fa-icons" aria-hidden="true"></i>
    </div>
    <div class="ticket-icons left-icons d-flex justify-content-center pointer-event">
        <i class="fa fa-ticket fa-icons" aria-hidden="true"></i>
    </div>
  </div>
  <div class="company-list">
    <div class="position-absolute end-0 top-0">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Company" aria-label="Search Company" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="choose_quries w-100 position-absolute d-flex justify-content-center">
      <div class="label w-50 d-flex justify-content-center align-self-center">
        <h4 class="mb-0">Choose your company to raise ticket</h4>
      </div>
      <div class="display-line-items w-75 d-flex justify-content-center align-self-center">
        <div class="company-line-list justify-content-center">
          
        </div>
      </div>
    </div>
  </div>
  <div class="queryForm disabled">
    <div class="container-fluid" style="width: 100vw;height: 90vh;display: grid;align-content: center;">
      <section class="container-fluid row m-auto w-80">
          <div style="max-width: 572px; margin-right: 9%;" class="form-apply w-50 col justify-content-center form-bg rounded-5 position-relative">
              <div class="d-flex justify-content-between align-items-center">
                  <h3 class="mt-4 text-center" style="color: #26A1A9;">Raise Your Query</h3>
                  <img src="" alt="company_img" class="company-form-logo mt-4 w-25 h-25">
              </div>
              <form class="row w-100 m-auto" name="query" autocomplete="off">
                  <div class="preSignup">
                      <div class="form-floating mt-2 w-50">
                          <input type="text" class="form-control form-input" id="floatingInput" placeholder="Name" name="name" required>
                          <label for="floatingInput">Name</label>
                      </div>
                      <div class="form-floating mt-2 w-75">
                          <input type="email" class="form-control form-input text-black" placeholder="Email" name="email" required disabled style="color: black;">
                          <label for="floatingInput" style="color: black;">Email address</label>
                      </div>
                      <div class="form-floating mt-2 w-50">
                          <input type="text" class="form-control form-input" id="floatingInput" placeholder="Company Name" name="cname" required disabled value="{{title}}">
                          <label for="floatingInput">Company Name</label>
                      </div>
                      <div class="form-floating mt-3 w-75">
                          <textarea name="customer-query" class="form-control form-input" style="resize: none; height: 122px; width: 300px;" placeholder="Query"></textarea>
                          <label for="floatingInput">Query</label>
                      </div>
                      <div class="w-50 mb-4 row justify-content-around position-relative" style="margin: 0 auto;">
                        <button class="btn btn-primary reg-log mt-3 w-75" role="submitQuery" style="padding: 10px 15px;">Submit</button>
                        <div class="loading-spin h-100 w-100 d-grid position-absolute disabled" style="top: 0.5rem;">
                            <div class="loader"></div>
                        </div>
                      </div>
                  </div>
              </form>
          </div>
          <div class="query-raise w-75 row" style="width: 55%; max-width: 55%; justify-content: center;">
              <img src="https://ccr-images.s3.jp-tok.cloud-object-storage.appdomain.cloud/Forms-rafiki.png" alt="LOGIN" style="width: 40vw; height: 55vh;">
          </div>
      </section>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='JS/custland.js') }}"nonce="a9d09b55f2b66e00f4d27f8b453003e6" ></script>
{% endblock %}